.container {
    background-color: yellow;
    padding: 10px;
}

.row {
    background-color: red;
    padding: 10px;
}

.col, .col-3, .col-10, .col-2 {
    background-color: blue;
    padding: 10px;
    border: 1px solid black;
}

.col-3, .col-md-3, .offset-md-1 {
    height: 50px;
    margin: 10px;
}